<div class="section">
  <div>
    <div class="div-block-2">
      <div class="w-row">
        <div class="column-2 w-col w-col-5">
          <div class="title">Project</div>
        </div>
        <div class="column w-col w-col-7">
          <div class="div-block">
            <div class="text-block nav active">Project</div>
            <div class="text-block nav">Logo</div>
            <div class="text-block nav">Kleuren</div>
            <div class="text-block nav">Fonts</div>
          </div>
        </div>
      </div>
    </div>
    <div class="div-block-3 w-clearfix">
      <div class="w-form">
        <form id="email-form" name="email-form" data-name="Email Form">
          <div class="text-block-2">Naam project</div>
          <input type="text" class="text-field bordered w-input" maxlength="256" name="name" data-name="Name"
            id="name">
          <div class="text-block-2">Omschrijving project</div>
          <textarea id="Omschrijving" name="Omschrijving" data-name="Omschrijving" maxlength="5000"
            class="text-field multiline bordered w-input"></textarea>
        </form>
        <div class="w-form-done">
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div class="w-form-fail">
          <div>Oops! Something went wrong while submitting the form.</div>
        </div>
      </div>
      <a href="#" class="link w-button">Volgende</a>
    </div>
  </div>
</div>