<div class="section">
  <div>
    <div class="div-block-2">
      <div class="w-row">
        <div class="column-2 w-col w-col-5">
          <div class="title">Kleuren</div>
        </div>
        <div class="column w-col w-col-7">
          <div class="div-block">
            <div (click)="navigateTo('project')" class="text-block nav">Project</div>
            <div (click)="navigateTo('logo')" class="text-block nav">Logo</div>
            <div (click)="navigateTo('kleuren')" class="text-block nav active">Kleuren</div>
            <div (click)="navigateTo('fonts')" class="text-block nav">Fonts</div>
          </div>
        </div>
      </div>
    </div>
    <div class="div-block-3 colorbox">

      <div *ngFor="let color of colors">
        <div class="color-block" [style.backgroundColor]="color.code">
          <label>
            <input (change)="updateColor($event.target.value, color)" class="color-input" type="text" value={{color.code}} />
          </label>
        </div>
      </div>

      <a (click)="addColor()" class="link w-button">+
      </a>
    </div>
  </div>
</div>
