<div class="section">
  <div>
    <div class="div-block-2">
      <div class="w-row">
        <div class="column-2 w-col w-col-5">
          <div class="title">Logo</div>
        </div>
        <div class="column w-col w-col-7">
          <div class="div-block">
            <div class="text-block nav">Project</div>
            <div class="text-block nav active">Logo</div>
            <div class="text-block nav">Kleuren</div>
            <div class="text-block nav">Fonts</div>
          </div>
        </div>
      </div>
    </div>
    <div class="div-block-3 w-clearfix">
      <a href="#" class="link w-button">+</a>
    </div>
  </div>
</div>