<div class="section">
  <div>
    <div class="div-block-2">
      <div class="w-row">
        <div class="column-2 w-col w-col-5">
          <div class="title">Logo</div>
        </div>
        <div class="column w-col w-col-7">
          <div class="div-block">
            <div (click)="navigateTo('project')" class="text-block nav">Project</div>
            <div (click)="navigateTo('logo')" class="text-block nav active">Logo</div>
            <div (click)="navigateTo('kleuren')" class="text-block nav">Kleuren</div>
            <div (click)="navigateTo('fonts')" class="text-block nav">Fonts</div>
          </div>
        </div>
      </div>
    </div>
    <div class="div-block-3 w-clearfix">
      <div class="file-list" *ngFor="let file of files">
        {{file.name}}
      </div>
      <input
        style="display: none"
        type="file" (change)="onFileChanged($event)"
        #fileInput multiple>
        <a (click)="fileInput.click()" class="link w-button">+</a>
    </div>
  </div>
</div>
