<div class="section">
  <div>
    <div class="div-block-2">
      <div class="w-row">
        <div class="column-2 w-col w-col-5">
          <div class="title">Project</div>
        </div>
        <div class="column w-col w-col-7">
          <div class="div-block">
            <div (click)="navigateTo('project')" class="text-block nav active">Project</div>
            <div (click)="navigateTo('logo')" class="text-block nav">Logo</div>
            <div (click)="navigateTo('kleuren')" class="text-block nav">Kleuren</div>
            <div (click)="navigateTo('fonts')" class="text-block nav">Fonts</div>
          </div>
        </div>
      </div>
    </div>
    <div class="div-block-3 w-clearfix">
      <div class="w-form">
        <div class="text-block-2">Naam project</div>
        <input type="text" class="text-field bordered w-input" maxlength="256" name="name" data-name="Name" id="name">
        <div class="text-block-2">Omschrijving project</div>
        <textarea id="Omschrijving" name="Omschrijving" data-name="Omschrijving" maxlength="5000" class="text-field multiline bordered w-input"></textarea>
      </div>
    </div>
  </div>
</div>
